body{
    background-color: rgb(236, 236, 241);
    font-family: 'Merienda', cursive;}

.navbar{
    font-family: 'Lobster', cursive;

}

.navbar-nav li a{
    color:  #aa763b !important;
    font-size: 17px;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Lobster', cursive;
}

.navbar-nav li a:hover{
    color: #409cbf !important;
}


.navbar-brand{
    color: #409cbf !important;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lobster', cursive;

    
}


.navbar-brand:hover{
    color:  #8c7873 !important;

}
  
.navbar li .username{
    color: #409cbf !important;
}

body{
    height: 100%;
    background-size: cover;
}


/* INDEX PAGE */

.index{
    display: flex;
    justify-content: center;
}

.index .blogs h1{
    font-size: 18px;
    color: #1f9fd1;

}
.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index .btn{
    background-color: #1f9fd1 !important;
    border: none;

}

.index .btn:hover{
    background-color: #8c7873 !important;

}

.index .quote p{
    font-family: 'Dancing Script', cursive;
    font-size:20px;
    
}

/* HOME */
section a{
    color: #1f9fd1;
}

section .btn{
    background-color: #8c7873 !important;
    border: none;
}

section .btn:hover{
    background-color: #1f9fd1 !important;
    border: none;
}


.blogs h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.quote{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* BLOG DETAILLS */
.blog-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.jumbotron{
    border: 1px solid rgb(245, 204, 204);
}

.jumbotron .topheader{
    text-align: center;

}

.jumbotron .content{
    line-height: 2;

}

.jumbotron .user-details{
    text-align: center;

}

.jumbotron .action-btn{
    display: flex;
    justify-content: space-between;
}

.comments{
    border: 1px solid rgb(245, 204, 204);
}

.comments .comment-btn{
    background-color: #8c7873 !important;
    border: none;

}

.comments .comment-btn:hover{
    background-color: #1f9fd1 !important;

}

.blog-details a{
    text-decoration: none !important;
    font-size: 15px;
    color: black;


}

.edit{
    text-decoration: none !important;
    color: rgb(14, 148, 59);
    font-size: 14px;
}
.delete{
    text-decoration: none !important;
    color: rgb(238, 56, 11);
    font-size: 14px;

}

/* PROFILE */
.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.profile .prof-image h6{
    text-align: center;
    color: #409cbf;
    font-weight: 800;

}


.blogPosts{
    text-align: center;
}

.blogPosts h6{
    color: #409cbf;
    font-weight: 800;
}


.blogPosts .btn{
    height: 36px;
    border-radius: 5px;
    background-color: #8c7873 !important;
    border: none;
    color: white;
    font-size: 15px;
}

.blogPosts .btn:hover{
    background-color: #409cbf !important;
}


.prof-update-form .submit-btn{
    height: 40px;
    border-radius: 5px;
    background-color: #409cbf;
    border: none;
    color: white;
}

/* LOGIN */
.login{
    height: 100%;
}

.login .row{
    margin-top: 10%;
}

.login a{
    text-decoration: none;
    color: #409cbf;;
}

.login .submit-btn{
    height: 40px;
    border-radius: 5px;
    background-color: #409cbf;
    border: none;
    color: white;
}
.login .submit-btn:hover{
    background-color: rgb(29, 47, 109);
}


/* SIGNUP */
.signup{
    height: 100%;
}

.signup .row{
    margin-top: 10%;
}


.signup .submit-btn{
    height: 40px;
    width: 10rem;
    border-radius: 5px;
    background-color: #409cbf;
    border: none;
    color: white;
}

.signup .submit-btn:hover{
    background-color: rgb(29, 47, 109);
}



/* BLOG SUBMISSION */

.blog-submission{
    height: 100%;

}

.blog-submission .row{
    margin-top: 3%;

}


.submission h6, .subscription h6{
    text-align: center;
    margin-top: 2%;
    color: #409cbf;;

}


.blog-submission .submit-btn{
    height: 40px;
    width: 5rem;
    font-size: 13px;
    border-radius: 5px;
    background-color: #409cbf;
    border: none;
    color: white;
}