{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}


<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}

  <div class="container-fluid blog-details">

    <div class="row">

      <div class="col-md-8">
          <h2>blogs</h2>
          <div class="jumbotron">
            <div class="container">
              <div class="topheader">
                <h3>{{single_blog.blog_title}}</h3>
              </div> 
              <hr>
  
              <div class="content">
                <p>{{single_blog.blog_content}}</p>

              </div>
                
                <hr>
              <div class="row user-details">
                <div class="username">Posted by {{single_blog.user.username}} on: {{ single_blog.datetime_posted.strftime('%Y-%m-%d %H:%M')}}</div>
              </div>
              
              </div> 
              
            </div>
          </div>

      </div>
      <div class="col-md-12 commentForm">
        <div class="col-md-8">
          <!-- <form action="/main.blog_details" method="post">
            {{commentForm.hidden_tag()}}

            <div>
                <div class="fw-bold text-capitalize mb-2">
                    {{ commentForm.blog_comment.label }}
                </div>
                <div>
                  {{commentForm.blog_comment(cols="30", rows="5", class_="form-control" )}}
              </div>
                
            </div>
            
            <div class="mt-2">
              <input class="ghost-button" type="submit" value="Post">
            </div>
          </form>              -->
          {{wtf.quick_form(commentForm)}}

        </div>
      </div>

      <div class="col-md-12 comments">
        <hr>
        <button type="button" class="btn btn-primary">{{single_blog.blog_comments.count() }} Comment(s)</button>
        <hr>
        {{macro.displayBlogComments(comments)}}
      </div>
    </div>




    </div>
  </div>
  {% endblock %}


  