{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}


<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}

  <div class="container-fluid home">
    <a href="{{url_for('main.blog_submission')}}"><button type="button" class="btn btn-secondary mt-5">Click here to write and post your blog</button></a>

    <div class="row">
      <div class="col-md-8">
        {{macro.displayBlogs(blogs)}}
      </div>




    </div>
  </div>
  {% endblock %}


  