{% macro displayBlogs(blogs) %}

    {% for blog in blogs  %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <!-- {% if blog.blog_image %}
    
              <img src="{{url_for('static',filename=blog.blog_image)}}" class="img-fluid">
        
            {% else %}
              <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
            {% endif %} -->
            <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />

            
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-title">{{ blog.blog_title }}</h6>
            <p class="card-text">
                {{blog.blog_content | truncate(50)}}
                <p class="text-muted">{{blog.blog_category}}</p>

            </p>
            <p class="text-muted">Posted by {{blog.user.username}} on {{ blog.datetime_posted.strftime('%Y-%m-%d %H:%M') }}</p>

            <a href="{{url_for('main.blog_details', id=blog.blog_id)}}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    
  
    
    
    {% endfor %}

{% endmacro %}





{%macro displayBlogComments(comments)%}

    {% for comment in comments  %}
        <div class="col md-12">
            <p class="text-muted user">{{ comment.user.username}}</p>
            <p> {{comment.blog_comment}}</p>
            <p class="time">Commented on  {{comment.datetime_posted.strftime('%Y-%m-%d %H:%M')}}</p>
                <a href="{{url_for('main.delete_comment' , id = comment.id)}}"><button type="button" class="btn btn-primary">Delete</button></a>
            
        </div>
        <hr>
    {% endfor %}

{% endmacro %}